version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.server
    command: "${opts}"
    ports:
        - 5000:5000
    volumes:
        - .:/app
  db:
    image: redis
